<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro de cuenta
        </a>
    </li>
    <li>
        <a routerLink="/heroes/home">
            Ir a heroes home
        </a>
    </li>
    <li>
        <a routerLink="/heroes/1">
            Ir a heroe 1
        </a>
    </li>
    <li>
        <a routerLink="/heroes/listado">
            Ir a heroes listar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a heroes agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/#">
            Ir a heroes editar
        </a>
    </li>
</ul>
<br>
